@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family : 'Orbitron';
	src         : url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family : 'STJEDISE';
	src         : url('/fonts/STJEDISE.TTF') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
	@apply font-heading;
}

body {
	background : theme('colors.brand.50');
	color      : theme('colors.richBlack');
}
